body {
 /* display:flex; */
 
}

#quiz-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;  /* Center horizontally */
    vertical-align: middle;
    align-items: center;      /* Center vertically */
    background-color: orange; /* Optional: sets a background color */
}

/* Style the header div */
#quiz {
    width:95%;
    height:70%;
    background-color: #3498db; /* Optional: sets a background color */
    display: inline-block; /* Makes the div adjust its size based on content */
    text-align: center;  /* Centers text inside the div */
    max-height: 70%;
}

/* Resize images inside the #header div */
#quiz img {
    /* padding-inline: 5px; */
    width: 20%;         /* Makes the image take up 100% of the div's width */
    height: auto;        /* Keeps the image's aspect ratio */
    max-width: 20%;     /* Ensures image doesn't grow beyond the div */
    min-width: 15%;
}

#title {
    width:100%;
    height:10%;
    background-color: blueviolet;
    text-align: center;
    size: 10%;
}
#continue {
    width:100%;
    height:10%;
    background-color: blueviolet;
    text-align: center;
}

